# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Salida del analizador (opcional)
resultado.json

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
